{% extends 'baseback.html.twig' %}



{% block body %}
    <div class="pagetitle">
      <h1>Entreprise</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entreprise.mail }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entreprise.numero }}</td>
            </tr>
            
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('app_entreprise_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>
    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
